* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.record {
    width: 95%;
    margin: 20px auto 0;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

form {
    width: 50%;
    padding: 20px;
    margin: 0 auto;
    font-size: 1.2rem;
}

input {
    width: 100%;
    padding: 5px;
    margin: 4px 0;
}

input[type="submit"] {
    cursor: pointer;
}

.btn {
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: 4px;
    background-color: rgb(75, 132, 255);
    color: #fff;
}

table{
    width: 90%;
    margin-top: 8px;
}

table, tr, th, td{
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-collapse: collapse;
    text-align: center;
    padding: 4px;
}

.tableBtn{
    font-size: 14px;
    padding: 2px 4px;
    text-align: center;
    border: 1px solid transparent;
    background-color: rgb(75, 132, 255);
    color: #fff;
}

.tableBtn.edit{
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.tableBtn.delete{
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    background-color: rgb(148, 51, 51);
}